<style type="text/CSS">
  .session_captcha{border: 1px solid #ccc; padding: 5px !important;}
  .session_captcha,
  .session_captcha div{display: table;}
  .session_captcha .session_captcha_field,
  .session_captcha .session_captcha_image{
    border: 1px solid #ccc;
    margin: 0px 0px 2px 0px !important;
    padding: 0px !important;
  }
  .session_captcha .session_captcha_image img{
    margin: 0px !important;
    padding: 0px !important;
    width: 110px !important;
  }
  .session_captcha .session_captcha_label{font-size: 12px;}
  .session_captcha .session_captcha_field input{
    width: 150px !important;
    font-size: 16px;
    border: none;
    background-color: #efefef;
  }
</style>

<div class='session_captcha'>
  <div class='session_captcha_image'>
    <%%= session_captcha_options[:image] %>
  </div>
  
  <div class='session_captcha_field'>
    <%%= session_captcha_options[:field] %>
  </div>
  
  <div class='session_captcha_label'>
    <%%= session_captcha_options[:label] %>
  </div>
</div>
